#compropagoWrapper li{ display:inline-block; padding:5px; }
#compropagoWrapper input { position:absolute; display:none; }

#compropagoWrapper input[type="radio"]:checked + label{ 
	opacity: 0.5;
    background: #00aaef ;
    border-color:red;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    box-shadow: 0px 1px 7px 2px rgba(0,0,0,0.18) inset;
}
#compropagoWrapper img{ width:80px;}